#GlobalPubli {
    display: flex;
    flex-direction: row;
    margin-left: 116px;
    margin-right: 80px;
  }
  
  #principal {
    height: 370px;
    width: 563px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  #laPrincipal {
    margin-right: 8px;
  }
  
  .secundaria {
    height: 182px;
    width: 291px;
    margin-right: 8px;
  }
  
  #arriba {
    border-top-right-radius: 10px;
  }
  
  #abajo {
    border-bottom-right-radius: 10px;
  }
  