@font-face {
    font-family: 'fontAirbnb';
    src: url('../../assets/fonts/Airbnb.otf') format('truetype'); 
}
  
body{
    font-family: 'fontAirbnb';
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo{
    margin-top: 24px;
    margin-left: 115px
}

#busqueda{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 305px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50px;
    margin-top: 16px;
    box-shadow: 0px 0px 1.5px rgba(0,0,0,0.5);
    margin-left: 100px;
}

#busqueda:hover{
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

#ButtonBusqueda{
    height: 50px;
    width: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

#lupa{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #ff385c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 105px;
}

#busqueda{
    height: 46px;
    width: 300px;
    font-family: 'fontAirbnb';
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-top: 19px;
    margin-right: 114px;
}

#agregar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 35px;
    width: 190px;
}

#agregar:hover {
    background-color: #f7f7f7;
    border-radius: 50px;
    height: 35px;
    width: 190px;
}

span {
    font-family: 'fontAirbnb';
    font-size: small;
    color: #6d6d6d;
}

#first {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    font-family: 'fontAirbnb';
    margin-right: 10px;
}

#world{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 40px;
    
}

#worldButton{
    border: none;
    background-color: transparent;
}

#world:hover{
    background-color: #f7f7f7;
    border-radius: 50%;
}

#second{
    height: 45px;
    width: 80px;
    box-shadow: 0px 0px 1.5px rgba(0,0,0,0.5);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#second:hover{
    border-radius: 50px;
    box-shadow: 0px 1px 1.5px rgba(0,0,0,1.2);
}

#ButtonSecond{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    height: 100%;
    width: 100%;
    font-family: 'fontAirbnb';
    border: none;
    background-color: transparent;
    align-items: center;
    justify-content: center;
}

#option{
    margin-right: 13px;
}

header{
    box-shadow: 0px 0px 1.5px rgba(0,0,0,0.5);
    height: 80px;
}

