/*#scroll{
    position: sticky;
    top: 80px;
}*/

#containerCard{
    margin-right: 114px;
    margin-top: 45px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    border-radius: 10px;
    width: 370px;
    height: 276px;
}

#calificacionPrecio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
}

.margenesCalCard{
    margin-top: 30px;
}

#precio{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-top: 30px;
}

#denuncia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 100px;
    margin-top: 25px;
}

#banderaDenuncia{
    margin-right: 15px;
}

#DateButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

#fechas{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: transparent;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #b0b0b0;
    height: 50px;
}

#fechaInicio{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-right: 1px solid #b0b0b0;
    width: 50%;
    height: 100%;
}

#fechaFin{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-left: 1px solid #b0b0b0;
    width: 50%;
    height: 100%;
}

#capacidad{
    background-color: transparent;
    width: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #b0b0b0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.titButton{
    font-size: 12px;
}

#reservar{
    border-radius: 10px;
    margin-top: 15px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#buttonReserv{
    height: 100%;
    width: 300px;
    background-image: linear-gradient(to bottom right, #e8204e, #d30964);
    border: transparent;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}