#saberContainer {
    margin-right: 90px;
    margin-left: 118px;
    border-bottom: 1px solid #dddddd;
    height: 300px;
  }
  
  .saber {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 35px;
    height: auto;
    margin-bottom: 35px;
  }
  
  #todoSaber {
    display: flex;
    flex-direction: row;
  }
  