#descricionContainer {
    margin-left: 116px;
    margin-right: 90px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #dddd;
    height: 100px;
  }
  
  #buttonAnfi {
    border: none;
    background-color: transparent;
  }
  
  #divButtonAnfi {
    margin-right: 89px;
  }
  