#aircoverContainer{
    margin-left: 116px;
    margin-right: 90px;
    font-size: 15px;
    border: 1px solid #dddd;
    height: 185px;
}

#buttonMoreInfoAir{
    border: none;
    background-color: transparent;
    text-decoration: underline;
    margin-left: -5px;
    margin-top: 22px;
    font-size: 17px;
}