#calendarContainer{
    margin-left: 116px;
    margin-right: 90px;
    margin-top: 38px;
    border-bottom: 1px solid #dddddd;
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.react-calendar__navigation__arrow {
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #484848;
}

.react-calendar__navigation__label {
    font-size: 18px;
    font-weight: bold;
    color: #484848;
}

.calendar {
    background-color: #fff;
    border: 1px solid #dbdbdb;
}

.react-calendar__tile--range {
    background-color: #f7f7f7 ;
    color: black;
}

.react-calendar__tile--now {
    background-color: transparent !important;
}
  
.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
    color: #484848;
}

.react-calendar {
    border: none;
}

.react-calendar__tile--hover {
    border-radius: 90%;
    border: 2px solid black !important;
    background-color: transparent !important;
}

.react-calendar__tile--rangeStart,
.react-calendar__tile--rangeEnd {
    background-color: black !important;
    color: white !important;
    border-radius: 50%;
}
  

#ButtonClearDate{
    width: 100px;
    height: 40px;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 50px;
}

#ButtonClearDate:hover{
    background-color: #f7f7f7;
    border-radius: 10px;
}
